<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<link rel="stylesheet" th:href="@{/css/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/styles/master.css}">
<body id="bodycolor">
	<!--  <script type="text/javascript" th:src="@{/script/jsweb/producto/vistaproducto.js}"></script> -->
	<script th:src="@{/script/jsweb/master.js}"></script>
	<nav th:replace="layout::navegacion"></nav>

	<div class="container-productos text-center">
		<br />
		<h2 style="font-weight: bold;">REGISTRO</h2>
		<span>Formulario de Registro de <strong>Guias de Entrada</strong></span><br />
		<br />
	</div>


	<div class="container container-productos">
		<form th:action="@{/GuiaEntrada/registrar_entrada}" th:object="${regguiaentrada}" method="post" 
					onsubmit="return validar_registro_entrada();">


			<div style="max-width: 1000px;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<i class="fas fa-sign-in-alt"></i><br />
					</div>
					<div class="col-md-8">
						<div class="card-body">

							<dl class="row">
								<dt class="col-sm-3">Observaciones</dt>
								<dd class="col-sm-9">
									<div class="form-group">
										<textarea th:field="*{descripcion}" class="form-control" rows="3" id="descripcion"></textarea>
										<span id="infodescripcion" class="text-secondary"></span>
									</div>
								</dd>

								<dt class="col-sm-3">Fecha de Ingreso</dt>
								<dd class="col-sm-9">
									<div class="form-group">
										<input type="date" th:field="*{fechaentrada}" class="form-control" id="fechaingreso">
										<span id="errorfechaingreso" class="text-danger"></span>
									</div>
								</dd>

								<dt class="col-sm-3">Proveedor</dt>
								<dd class="col-sm-9">
									<select th:field="*{codproveedor}" class="form-control" id="proveedor">
										<option value="" hidden>Seleccione</option>
										<option th:each="proveedor :${listprovee}"
											th:text="${proveedor.nombre}"
											th:value="${proveedor.codproveedor}"></option>
									</select>
									<span id="errorproveedor" class="text-danger"></span>
								</dd>

								<dt class="col-sm-3">Factura de Compra</dt>
								<dd class="col-sm-9">
									<select th:field="*{codfacturacompra}" class="form-control" id="facturacompra">
										<option value="" hidden>Seleccione</option>
										<option th:each="facturacompra :${listfactcompra}"
											th:text="${facturacompra.codfacturacompra}"
											th:value="${facturacompra.codfacturacompra}"></option>
									</select>
									<span id="errorfactura" class="text-danger"></span><br />
								</dd>
								
								
								<dt class="col-sm-3">Usuario</dt>
								<dd class="col-sm-9">
									<select th:field="*{codusuario}" class="form-control" id="usuario">
										<option value="" hidden>Seleccione</option>
										<option th:each="usuario :${listusuario}"
											th:text="${usuario.nombreusuario}"
											th:value="${usuario.codusuario}"></option>
									</select>
									<span id="errorusuario" class="text-danger"></span>
								</dd>
								
								<dt style="font-size: 27px; color: #8c8c8c;" class="col-sm-12">
									Detalle
								</dt>
								<dt class="col-sm-12">
								<label style="color: #636363;">Ah continuacion deberas seleccionar el producto y la cantidad entrante.</label>
								<hr />
								</dt>
								
								
								<dt class="col-sm-3">Producto</dt>
								<dd class="col-sm-9">
									<select th:field="*{codproducto}" class="form-control" id="producto">
										<option value="" hidden>Seleccione</option>
										<option th:each="product :${listp}"
											th:text="${product.codproducto} + ' - ' +  ${product.nombre}"
											th:value="${product.codproducto}"></option>
									</select>
									<span id="errorproducto" class="text-danger"></span>
								</dd>
								
								<dt class="col-sm-3">Unidades</dt>
								<dd class="col-sm-9">
									<input th:field="*{cantidad}" class="form-control" type="number" id="unidades">
									<span id="errorunidades" class="text-danger"></span>
								</dd>
								
								<dt class="col-sm-3">Estado</dt>
								<dd class="col-sm-9">
										<select
											th:field="*{estado}" class="form-control" id="estado" >
											<option value="Activo">Activo</option>
											<option th:value="Inactivo">Inactivo</option>
											<option th:value="Suspendido">Suspendido</option>
											<option value="En Proceso">En Proceso</option>
										</select>
										<span id="infoestado" class="text-secondary"></span>
								</dd>

								<dt class="col-sm-8">
								
									<br />
									<button type="submit" class="btn btn-danger">
										Grabar <i class="far fa-save"></i>
									</button>
									<a type="button" th:href="@{/GuiaEntrada/vistaguiaentrada}" class="btn btn-dark">Cancelar <i class="fas fa-ban"></i></a> <br />
									<br />
									<br />
									<br />
								</dt>
							</dl>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>

	<!-- ENLACES: PIE DE PAGINA - FLECHA DE DESPLAZAMIENTO-->
	<div th:replace="layout::pie"></div>
	<div th:replace="layout::flecha"></div>
	<script type="text/javascript" th:src="@{/script/jsweb/master.js}"></script>
	<script type="text/javascript" th:src="@{/script/jsweb/Validation.js}"></script>
</body>
</html>