<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<link rel="stylesheet" th:href="@{/css/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/styles/master.css}">

<script type="text/javascript"
    th:src="@{/script/jsweb/cliente/vistacliente.js}"></script>
    
<!-- Referencia: Hoja de estilo css -->
<link rel="stylesheet" type="text/css" th:href="@{/DataTables/datatables.css}"/>

<body>
	<nav th:replace="layout::navegacion" ></nav>
	
	<div class="container-productos">
    <div class="card">
        <div class="card-header badge-dark text-center font-weight-bold">CLIENTE</div>
        <div class="card-body">

            <button type="button" id="btnagregarcliente" class="btn btnagregarstl">Nuevo Cliente <i class="fas fa-plus-circle"></i></button>

            <hr />
            <table id="tblcliente" class="table">
                <thead>
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Actualizar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p :${formulario}">
                        <td th:text="${p.codcliente}"></td>
                        <td th:text="${p.nombre}"></td>
                        <td th:text="${p.apellido}"></td>
                        <td th:text="${p.edad}"></td>
                        <td th:text="${p.celular}"></td>
                        <td th:text="${p.genero}"></td>
                        <td th:text="${p.direccion}"></td>
                        <td>
                            <button type="button"
                                class="btn btn-secondary btnactualizarcliente"
                                th:data-codcliente="${p.codcliente}"
                                th:data-nombre="${p.nombre}"
                                th:data-apellido="${p.apellido}"
                                th:data-edad="${p.edad}"
                                th:data-celular="${p.celular}"
                                th:data-genero="${p.genero}"                               
                                th:data-direccion="${p.direccion}"><i class="fas fa-edit"></i></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btneliminarcliente"
                                th:data-codcliente="${p.codcliente}"
                                th:data-nombre="${p.nombre}"
                                th:data-apellido="${p.apellido}"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	</div>
 
    <!-- Modal Registrar y Actualizar Cliente -->
    <div class="modal fade" id="modalcliente" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header colormodal">
                    <h5 class="modal-title font-weight-bold text-white" id="exampleModalLabel">Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="txtnombre">Nombre</label> 
                                <input type="text" class="form-control" id="txtnombre" maxlength="40">
                                <span id="errornombre" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtapellido">Apellido</label> 
                                <input type="text" class="form-control" id="txtapellido">
                                <span id="errorapellido" class="text-danger"></span>
                            </div><br>
                            <div class="form-group col-md-6">
                                <label for="txtedad">Edad</label> 
                                <input type="number" class="form-control" id="txtedad">
                                <span id="erroredad" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtcelular">Celular</label> 
                                <input type="number" class="form-control" id="txtcelular">
                                <span id="errorcelular" class="text-danger"></span>
                            </div><br>
                            <div class="form-group col-md-6">
                                <label for="txtgenero">Genero</label> 
                                <input type="text" class="form-control" id="txtgenero">
                                <span id="errorgenero" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="txtdireccion">Direccion</label> 
                                <input type="text" class="form-control" id="txtdireccion">
                                <span id="errordireccion" class="text-danger"></span>
                            </div><br>
                            <input type="hidden" id="hddcodcliente" value="0">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnregistrarcliente" class="btn btn-danger">Grabar</button>
                </div>
            </div>
        </div>
    </div>
        
    <!-- Modal Eliminar Cliente -->
    <div class="modal fade" id="modaleliminarcliente" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header colormodal">
                    <h5 class="modal-title font-weight-bold text-white" id="exampleModalLabel">Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label id="mensajeeliminar"></label>
                    <input type="hidden" id="hddcodclienteeliminar">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btneliminarcliente" class="btn btn-danger">Si, Eliminar</button>
                </div>
            </div>
        </div>
    </div><br>
    
	<div th:replace="layout::pie"></div>
	<div th:replace="layout::flecha"></div>
	<script type="text/javascript" th:src="@{/script/jsweb/master.js}"></script>
	<script type="text/javascript" th:src="@{/DataTables/datatables.js}"></script>
	
	<!-- SCRIPT: Lenguaje de Busqueda y Paginacion -->
	<script type="text/javascript" th:src="@{/script/jsweb/internalization.js}"></script>
    
</body>
</html>