<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" th:href="@{/css/css/all.min.css}">
<link rel="stylesheet" th:href="@{/css/styles/master.css}">
<title>list</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/DataTables/datatables.css}"/>
<body>



<script th:src="@{/script/jsweb/master.js}"></script>
<nav th:replace="layout::navegacion"></nav>
	
	<div class="container-productos">
	<div class="container-productos text-center">
	<h2 style="font-weight: bold;">FACTURAS DE COMPRA</h2>
	<span>Listado de Facturas de compra</span>
	<br /><br />
	
	<div class="card-header badge-secondary text-center font-weight-bold">INVENTARIO</div>
	<div class="card-body">
	
	
	
	<table id="tblinventario" class="table table-hover">
		<thead>
		<tr>
			<th>CodFacturaCompra</th>
			<th>Descripcion</th>
			<th>Fecha</th>
			<th>IGV</th>
			<th>Total</th>
			<th>CodUsuario</th>
			<th>CodProveedor</th>
			<th>Acción</th>
		</tr>
		</thead>
		
		<tbody>
		<tr th:each="entity:${bFacturaCompra}">
			<td th:text="${entity.CodFacturaCompra}"></td>
			<td th:text="${entity.Descripcion}"></td>
			<td th:text="${entity.Fecha}"></td>
			<td th:text="${entity.IGV}"></td>
			<td th:text="${entity.Total}"></td>
			<td th:text="${entity.CodUsuario}"></td>
			<td th:text="${entity.CodProveedor}"></td>
			<td>
				<a type="button" class="btn btn-secondary" th:href="@{|/facturacompra_editar/${entity.CodFacturaCompra}|}">Editar</a> | 
				<a type="button" class="btn btn-danger" th:href="@{|/facturacompra_borrar/${entity.CodFacturaCompra}|}">Eliminar</a>
			</td>
		</tr>	
		</tbody>
	</table>
	</div>
	</div>
	</div>
	
	
<div th:replace="layout::pie"></div>
<div th:replace="layout::flecha"></div>
<script type="text/javascript" th:src="@{/script/jsweb/master.js}"></script>
<script type="text/javascript" th:src="@{/DataTables/datatables.js}"></script>
<!-- SCRIPT: Lenguaje de Busqueda y Paginacion -->
<script type="text/javascript" th:src="@{/script/jsweb/internalization.js}"></script>
</body>
</html>